// default
$tint--light: #aaa;
$tint--dark: #aaa;
$textPrimary--light: #aaa;
$textPrimary--dark: #aaa;
$textSecondary--light: #aaa;
$textSecondary--dark: #aaa;
$textTertiary--light: #aaa;
$textTertiary--dark: #aaa;

// In development and when we want to show off the themes, we maintain these here
// in production we just maintain the above ones, we use one of the below themes
// But without the theme names

// porsche
$tint--light-porsche: #db0700;
$tint--dark-porsche: #db0700;
$textPrimary--light-porsche: #aaa;
$textPrimary--dark-porsche: #aaa;
$textSecondary--light-porsche: #aaa;
$textSecondary--dark-porsche: #aaa;
$textTertiary--light-porsche: #aaa;
$textTertiary--dark-porsche: #aaa;

// miles-and-more
$tint--light-miles-and-more: #000d86;
$tint--dark-miles-and-more: #000d86;
$textPrimary--light-miles-and-more: #aaa;
$textPrimary--dark-miles-and-more: #aaa;
$textSecondary--light-miles-and-more: #aaa;
$textSecondary--dark-miles-and-more: #aaa;
$textTertiary--light-miles-and-more: #aaa;
$textTertiary--dark-miles-and-more: #aaa;
